<!--Basic view of Game of thrones App -->
<section class="container" style="margin: 5%; padding: 5%; float: right ">


    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
        <a href="#/all">
          <img src="images/all.png" class="grow"/> <h3 style="color: white">All</h3>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
        <a ng-href="#/houses" >
          <img src="images/houses.png" class="grow" /> <h3 style="color: white">Houses</h3>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
        <a href="#/characters" >
          <img src="images/people.png" class="grow"/> <h3 style="color: white">Characters</h3>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types" >
        <a href="#/books" >
          <img src="images/books.png" class="grow"/> <h3 style="color: white">Books</h3>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 types">
         <h3 style="color: white">Important Houses Of Game of Thrones</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
        <a ng-href="#/house/378">
          <img src="images/targereyan.jpeg" class="grow img-size"/> <h3 style="color: white">Targereyan</h3>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
        <a ng-href="#/house/229" >
          <img src="images/lannister.jpeg" class="grow img-size" /> <h3 style="color: white">Lannister</h3>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
        <a ng-href="#/house/362" >
          <img src="images/stark.jpeg" class="grow img-size"/> <h3 style="color: white">Stark</h3>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types" >
        <a href="#/house/16" >
          <img src="images/baratheon.png" class="grow img-size"/> <h3 style="color: white">Baratheon</h3>
        </a>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
        <a href="#/house/398">
          <img src="images/tyrell.png" class="grow img-size"/> <h3 style="color: white">Tyrell</h3>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
        <a ng-href="#/house/169" >
          <img src="images/greyjoy.jpeg" class="grow img-size" /> <h3 style="color: white">GreyJoy</h3>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types">
        <a href="#/house/7" >
          <img src="images/arryn.png" class="grow img-size"/> <h3 style="color: white">Arryn</h3>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 types" >
        <a href="#/house/11" >
          <img src="images/baelish.jpeg" class="grow img-size"/> <h3 style="color: white">Baelish</h3>
        </a>
      </div>

    </div>

</section>
